# Ad Clicking Prediction using Logistic Regression 
# ________________________________________________________________________________________________________________________________

## Table of contents
1. [Description](#description)<br>
2. [Set Up](#set-up)<br>
3. [Data Import](#data-import)<br>
4. [Data Processing](#data-processing)<br>
5. [Logistic Regression](#linear-regression-model)<br>
6. [Model Evaluation](#model-evaluation)<br>
7. [Conclusion](#conclusion)<br>

## Description
#### A quick summary of the notebook

This project aim to know whether a user will click on a specific add or not depending upon provided data of the user. Use logistic regression model for model building and confusion matrix for model evaluation. we aim to reach an accuracy +80%

## Set Up
#### Package and local module imports

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

## Data Import

In [2]:
df = pd.read_csv('advertising.csv') # Load the data

In [3]:
df.sample(10) # View sample from the data

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
745,57.99,50,62466.10,124.58,Innovative homogeneous alliance,New Angelview,0,Costa Rica,2016-02-12 08:46:15,1
88,57.70,34,42696.67,109.07,Phased dynamic customer loyalty,New Tina,0,Australia,2016-03-14 23:13:11,1
462,74.88,27,67240.25,175.17,Organized empowering policy,Sarahton,1,Sudan,2016-04-17 06:58:18,0
954,51.65,31,58996.56,249.99,Virtual context-sensitive support,Mclaughlinbury,0,Ireland,2016-05-25 10:39:28,0
804,53.92,41,25739.09,125.46,Business-focused transitional solution,Lake Amanda,1,Turkey,2016-06-12 11:17:25,1
532,79.53,51,46132.18,244.91,Managed 6thgeneration hierarchy,Reyesfurt,0,Barbados,2016-06-26 04:22:26,0
126,80.31,44,56366.88,127.07,Cross-platform regional task-force,Brianfurt,0,Hungary,2016-04-18 15:54:33,1
453,83.42,25,49850.52,183.42,Advanced heuristic firmware,East Toddfort,1,Austria,2016-03-04 14:10:12,0
534,73.57,30,70377.23,212.38,Pre-emptive transitional protocol,North Stephanieberg,0,Uruguay,2016-03-20 08:22:50,0
949,78.96,50,69868.48,193.15,Stand-alone well-modulated product,East Jason,0,Cayman Islands,2016-02-12 01:55:38,1

## Data Processing

In [4]:
df.shape

(1000, 10)

The data have 1000 rows and 10 columns.

In [5]:
df.info() # View basic info on the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [6]:
df.describe() # Get statistical info about numerical values

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [7]:
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [ ]:
df.rename(columns={"Daily Time Spent on Site": "daily_time_spent_on_site",
                   "Age":"age",
                   "Area Income":"area_income",
                   "Daily Internet Usage":"daily_internet_usage",
                   "Ad Topic Line":"ad_topic_line",
                   "City":"city",
                   "Male":"male",
                   "Country":"country",
                   "Timestamp":'timestamp',
                   "Clicked on Ad":"clicked_on_ad"}, inplace=True)

## Logistic Regression Model

### Train Model

### Test Model

### Accuracy Metric

## Model Evaluation

### Confusion Matrix

## Conclusion